<h1><%= @event.name %></h1>

<% if @event.prerelease? && !current_user.early_access %>
  <%= render partial: '/events/ticket_info' %>
<% elsif @event.live? || current_user.early_access %>
  <% if @event.tickets_sold_for_code(current_user.membership_number) > 0 && @event.available_tickets_for_code(current_user.membership_number) == 0 %>
    <p>
      You have bought the
      <%= pluralize(@event.tickets_sold_for_code(current_user.membership_number), 'ticket') %>
      available to you. Look below to see how you can participate.
    </p>
  <% elsif current_user.ticket_type != :general %>
    <%= render partial: '/events/buy_ticket' %>
  <% else %>
    <p class="mb-1">
      <% if @event.tickets_sold_for_code(current_user.membership_number) > 0 && @event.available_tickets_for_code(current_user.membership_number) > 0 %>
        You have already bought
        <%= pluralize(@event.tickets_sold_for_code(current_user.membership_number), 'ticket') %>.
        You can buy
        <%= pluralize(@event.available_tickets_for_code(current_user.membership_number), 'more ticket') %>.
      <% elsif @event.available_tickets_for_code(current_user.membership_number) > 0 %>
        You can buy
        <%= pluralize(@event.available_tickets_for_code(current_user.membership_number), 'ticket') %>.
      <% else %>
        <%= render partial: '/events/ticket_info' %>
      <% end %>
    </p>
    <%= render partial: '/events/buy_ticket' %>
  <% end %>
<% end %>

<% if @event.tickets_sold_for_code(current_user.membership_number) == 0 %>
  <%= render partial: '/tickets/low_income' %>
  <p>
    <strong>
      Bought a transferred ticket and can't see the volunteer opportunities on this page? Drop an email to <a href="mailto:members@londondecom.org">members@londondecom.org</a> and we'll sort you out!
    </strong>
  </p>
  <hr />
<% end %>

<% if @event.tickets_sold_for_code(current_user.membership_number) > 0 %>
  <hr />
  <%= render partial: '/volunteers/applied_list' %>
  <%= render partial: '/volunteers/list' %>
<% end %>

<%= render partial: '/events/info' %>
