<p>Here is the crucial info</p>
<% if @event.theme_image_url.present? %>
  <%= image_tag @event.theme_image_url, style: 'width: 100%;' %>
<% end %>

<div class="row mt-3">
  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
    <p><strong><%= @event.name %>: <%= @event.theme %></strong></p>
    <%= simple_format(@event.theme_details) %>
  </div>

  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
    <% if @event.location.present? %>
      <p><strong>Where:</strong> <%= @event.location %></p>
    <% end %>
    <% if @event.maps_location_url.present? %>
      <p><strong>Map:</strong> <%= link_to 'Google Maps Location', @event.maps_location_url %></p>
      <% if @event.eventbrite_event.eventbrite_event.start.local.nil? %>
        <p><strong>When:</strong> <%= simple_format(@event.event_timings) %></p>
      <% else %>
        <p><strong>When:</strong> <%= @event.eventbrite_start_time.strftime("%A %d %B %Y") %> GMT <%= simple_format(@event.event_timings) %></p>
      <% end %>
    <% end %>
    <% if @event.further_information.present? %>
      <p><strong>Further Information:</strong> <%= @event.further_information %></p>
    <% end %>
    <% if @event.ticket_information.present? %>
      <p><strong>Ticket Information:</strong></p>
      <p>
        <%= simple_format(@event.ticket_price_info) %>
        <%= render partial: '/tickets/low_income' %>
      </p>
      <p><%= simple_format(@event.ticket_information) %></p>
    <% end %>
  </div>
</div>