<h2>Leads for <%= @volunteer_role.name %></h2>

<p>Leads can see the contact details of every member who has registered to volunteer for this role</p>

<h3>Current leads</h3>

<table class="table">
  <tr>
    <th>Name</th>
    <th class="d-none d-md-table-cell">Email</th>
    <th>Actions</th>
  </tr>
  <% @leads.each do |lead| %>
    <tr>
      <td class="align-middle"><%= lead.user.name %></td>
      <td class="d-none d-md-table-cell align-middle"><%= lead.user.email %></td>
      <td>
        <%= link_to 'Remove', admin_event_volunteer_role_volunteer_path(@event, lead.volunteer_role, lead), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger justify-content-end'%>
      </td>
    </tr>
  <% end %>
</table>

<h3>Add a new lead</h3>

<%= bootstrap_form_for [:admin, @event, @volunteer_role, Volunteer.new] do |form| %>
  <%= form.select :user_id,
                  User.confirmed.pluck(:id, :name, :email).collect {|u| ["#{u[1]} (#{u[2]})", u[0]]},
                  {label: 'Find member to make a lead'},
                  {class: 'selectpicker', data: { 'live-search': 'true' }}
  %>
  <%= form.submit 'Make Lead' %>
<% end %>
