<h1>Low Income Requests</h1>

<p>Approved: <%= LowIncomeRequest.where(status: 'approved').count %> of <%= LowIncomeRequest.count %> requests</p>
<p>Rejected: <%= LowIncomeRequest.where(status: 'rejected').count %> of <%= LowIncomeRequest.count %> requests</p>

<div class="overflow-auto">
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Created</th>
      <th>Reason</th>
      <th>Status</th>
    </tr>
    <% @low_income_requests.each do |low_income_request| %>
      <tr>
        <td><%= low_income_request.user.name %></td>
        <td><%= low_income_request.user.email %></td>
        <td><%= low_income_request.created_at.to_fs(:decom_standard) %></td>
        <td><%= low_income_request.request_reason %></td>
        <td>
          <% if low_income_request.status == 'approved' %>
            Approved
          <% elsif low_income_request.status == 'rejected' %>
            Rejected
          <% else %>
            <%= button_to 'Approve', approve_admin_low_income_request_path(low_income_request), class: 'btn btn-primary w-100' %>
            <%= button_to 'Reject', reject_admin_low_income_request_path(low_income_request), class: 'btn btn-danger w-100' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<%= paginate @low_income_requests, theme: 'twitter-bootstrap-4' %>
