<%= bootstrap_form_for [:admin, @user] do |form| %>
  <%= form.text_field :name %>
  <%= form.text_field :email %>
  <%= form.check_box :admin %>
  <%= form.check_box :early_access %>
  <%= form.check_box :marketing_opt_in %>
  <%= form.submit 'Update user details', class: "btn btn-success w-100"  %>
<% end %>
<div class="row mt-3">
  <div class="col-6">
    <%= button_to 'Delete', admin_user_path(@user), method: :delete, data: {confirm: 'Are you sure? This is irreversible'}, class: "btn btn-danger w-100" %>
  </div>

  <div class="col-6">
    <% if @user.ticket_type == :direct %>
      <button class="btn btn-secondary w-100" disabled>Has direct sale</button>
    <% else %>
      <%= bootstrap_form_for [:admin, @user], url: give_direct_sale_admin_user_path(@user) do |form| %>
        <%= form.submit 'Give direct access', class: 'btn btn-secondary w-100' %>
      <% end %>
    <% end %>
  </div>
</div>